*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*body{
    
}*/

header{
    text-align: center;
    display: flex;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
}