
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 20%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.li__border{
    border: none;
    text-align: justify;
}
.col{
    text-align: justify;
    border-spacing : 5px 10px;
}
.hobbies{
    text-align: center;
}
.blue_border{
    border-radius:50%;
    width:160px;
    height:160px;
    border:2px solid #0aa9e3; 
    
}