@font-face {
    font-family: "Retro Gaming";
    src: url("fonts/RetroGaming_p.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
    -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

button:hover{
    background-color: #0aa9e3;
    transition: transform .2s;
    transform: scale(1.5);
}
.contact_button:hover{
    background-color: #0aa9e3;
    color: aliceblue;
    transition: transform .2s;
    transform: scale(1.5);
}
.list_part:hover{
    background-color: #0aa9e3;
    transition: transform .2s;
    transform: scale(1.5);
}
.lang_part:hover{
    transition: transform .2s;
    transform: scale(1.5);
}

@media (min-width: 768px){body{
    text-align: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: "Retro Gaming", serif;
}
header{
    display: flex;
    text-align: justify;
    justify-content: space-between;
    margin: 50px;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

section{
    width: 50%;
    justify-content: space-between;
    margin: 80px;
}
ul{
    list-style-type: none;
}

.job{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
.part{
    border-bottom: solid;
}

.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 20%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.left-column div{
    margin-top: 30px;
}
.bio{
    text-align: justify;
}
.spec_title{
    text-align: justify;
}
.spec_body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.creativity{
    border-radius:50%;
    width: 200px;;
    height: 200px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/Ampoule.png");
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
}
.writting{
    border-radius:50%;
    width: 200px;;
    height: 200px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/Pen.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
}
.design{
    border-radius:50%;
    width: 200px;;
    height: 200px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/brush.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
}
.spec_name{
    font-family:"Retro Gaming", serif;
    font-size: 24px;
}
.skills{
    text-align: justify;
    
}
.formation{
    text-align: justify;
}
.exp{
    text-align: justify;
}
.hobby{
    text-align: justify;
}
.hobby_tab{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    text-align: center;
}
.game{
    border-radius:50%;
    width: 120px;;
    height: 120px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/Gamepad.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.photo{
    border-radius:50%;
    width: 120px;;
    height: 120px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/Camera.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.cinema{
    border-radius:50%;
    width: 120px;;
    height: 120px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/clip.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.book{
    border-radius:50%;
    width: 120px;;
    height: 120px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/book.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.music{
    border-radius:50%;
    width: 120px;;
    height: 120px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/music.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.leaf{
    border-radius:50%;
    width: 120px;;
    height: 120px;
    background-color:transparent;
    border:2px solid #0aa9e3; 
    background-image: url("../img/leaf.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.history-tl-container{
  width:50%;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}
.exp_div{
    display: flex;
}
.exp_time{
    color: #0aa9e3;
    font-size: 70px;
    font-family: "Retro Gaming", serif;
}
.contact-me{
    display: flexbox;
}
.contact_button{
    border: none;
    background-color: black;
    color: #0aa9e3;
    font-family: "Retro Gaming", serif;
    font-size: 24px;
    padding: 3px 20px 5px 5px;

}
.langues{
    text-align: justify;
}
.langues_list{
    text-align: center;
}
.langues_list img{
    height: 160px;
    width: 160px;
}}

@media (max-width: 768px) {
    body{
        margin: 30px 30px;
    }
    header{
        text-align: center;
        justify-content: center;
    }
    ul{
        list-style-type: none;
    }
    h2{
        font-family: "Retro Gaming", serif;
        text-align: center;
    }
    main{
        margin: 20px;
    }
    .part{
        border-bottom: solid;
    }
    .job{
        background-color: black;
        color: white;
        padding: 5px;
        text-align: center;
    }
    .contact-flex{
        display: none;
        visibility: hidden;
    }
    .skills_list{
        font-size: small;
    }
    .hobby_tab{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        text-align: center;
    }
    .game{
        border-radius:50%;
        width: 80px;;
        height: 80px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/Gamepad.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .photo{
        border-radius:50%;
        width: 80px;;
        height: 80px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/Camera.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .cinema{
        border-radius:50%;
        width: 80px;;
        height: 80px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/clip.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .book{
        border-radius:50%;
        width: 80px;;
        height: 80px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/book.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .music{
        border-radius:50%;
        width: 80px;;
        height: 80px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/music.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .leaf{
        border-radius:50%;
        width: 80px;;
        height: 80px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/leaf.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .history-tl-container{
        width:50%;
      }
      .history-tl-container ul.tl{
          margin:20px 0;
          padding:0;
      
      }
      .history-tl-container ul.tl li{
          list-style: none;
          margin-left:200px;
          min-height:50px;
          border-left:1px dashed #86D6FF;
          padding:0 0 50px 30px;
          position:relative;
      }
      .history-tl-container ul.tl li:last-child{ border-left:0;}
      .history-tl-container ul.tl li::before{
          position: absolute;
          left: -18px;
          top: -5px;
          content: " ";
          border: 8px solid rgba(255, 255, 255, 0.74);
          border-radius: 500%;
          background: #258CC7;
          height: 20px;
          width: 20px;
          transition: all 500ms ease-in-out;
      
      }
      .history-tl-container ul.tl li:hover::before{
          border-color:  #258CC7;
          transition: all 1000ms ease-in-out;
      }
      ul.tl li .item-detail{
          color:rgba(0,0,0,0.5);
          font-size:12px;
      }
      ul.tl li .timestamp{
          color: #8D8D8D;
          font-size: 12px;
      }
      .exp_div{
        display: flex;
    }
    .exp_time{
        color: #0aa9e3;
        font-size: 70px;
        font-family: "Retro Gaming", serif;
    }
    .contact-me{
        display: flex;
        margin-right: 30px;
        width: 50px;
    }
    .contact_button{
        border: none;
        background-color: black;
        color: #0aa9e3;
        font-family: "Retro Gaming", serif;
        font-size: 24px;
        padding: 3px 5px 5px 5px;
    
    }
    .spec_body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .creativity{
        border-radius:50%;
        width: 100px;;
        height: 100px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/Ampoule.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .writting{
        border-radius:50%;
        width:100px;
        height: 100px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/Pen.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .design{
        border-radius:50%;
        width: 100px;;
        height: 100px;
        background-color:transparent;
        border:2px solid #0aa9e3; 
        background-image: url("../img/brush.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }
    .langues_list{
        text-align: center;
    }
}